<h2 class="page_heading collection_title">{% assign X = 'catalog.collections_listing.title' | t %}{% if X.size > 0 %}{{ X }}{% else %}Collections{% endif %}</h2>

<div class="collection_listing_main">
	<div class="row">
	    {% for collection in collections %}
	        {% unless collection.handle == 'all' or collection.handle == 'frontpage' %}
	            {% include 'collection-listing-item' %}
	        {% endunless %}
	    {% endfor %}
	</div>
</div>